
.block{
    border: 2px solid red;
    background-color: rgb(255, 183, 96);
    height: 90px;
    width: 90px;
    margin: 10px;
    
}
.stack-1{
    border:5px solid green;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.stack-2{
    border:5px solid green;
    width: 800px;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.stack-3{
    border: 5px solid green;
    flex-wrap: wrap;
    max-width: 500px;
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.stack-4{
    border:5px solid green;
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.stack-5{
    border: 5px solid green;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly; 
}

.stack-5 :nth-child(1){
flex-grow:2;
}
.stack-5 :nth-child(5){
    flex-grow: 2;
}


.stack-6{
    border:5px solid green;
    max-width: 500px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.stack-6 div{
    width:94% ;
}

.stack-7{
    border:5px solid green;
    display: flex;
    flex-direction: row;
    width: 500px;
}

.stack-7 :nth-child(3){
    margin-left: 158px;
}


.stack-8{
    border:5px solid green;
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
}
.stack-8 :nth-child(2){
    flex-basis: 350px;
}
.stack-8 :nth-child(3){
   flex-basis: 220px;
}
.stack-8 :nth-child(4){
    flex-basis: 220px;
}

.stack-9{
    border:5px solid rgb(6, 129, 236);
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
}

.stack-9 :nth-child(1){
 flex-basis: 595px;
 order: 1;
}
.stack-9 :nth-child(2){
flex-basis: 150px;
order: 2;
}
.stack-9 :nth-child(3){
flex-basis: 150px;
order: 5;
}
.stack-9 :nth-child(4){
order: 3;
}
.stack-9 :nth-child(5){
order: 4;
}
.stack-9 :nth-child(6){
flex-basis: 595px;
order: 6;
}
